[Desktop Entry]
Comment=
Exec=python /etc/ddos/installer_ssh/install.py
GenericName=Инсталлер системы ddOS X
Icon=system-os-installer
Name=Инсталлер
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Name[ru_RU]=Установка по ssh
